{{ if and .Site.DisqusShortname (index .Params "comments" | default "true") (not .Site.IsServer) }}
<section class="comments">
	{{ template "_internal/disqus.html" . }}
</section>
{{ end }}
{{ if and .Site.Params.gitmentClientSecret .Site.Params.gitmentClientId }}
<section class="comments">
	<div id="gitment-comments"></div>
</section>
<script>
	const gitment = new Gitment({
			id: document.title.replace(/[^\w\s]/gi, "").substring(0, 49),
			owner: 'scottwestover',
			repo: 'scottwestover.github.io',
			oauth: {
					client_id: '{{ .Site.Params.gitmentClientId }}',
					client_secret: '{{ .Site.Params.gitmentClientSecret }}'
			}
	});
	gitment.render(document.getElementById('gitment-comments'));
</script>
{{ end }}
